In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('../raw_data/isma_youtube_videos.csv')
df

,Title,Channel,Published Date,Video URL,Description,Duration,View Count,Like Count,Dislike Count,Average Rating,Age,Subscriber Count
0,30 Years of Business Knowledge in 2hrs 26mins,Simon Squibb,NaN,https://www.youtube.com/watch?v=9VlvbpXwLJs,NaN,8773.0,9284658.0,NaN,NaN,NaN,NaN,NaN
1,6 Tips on Being a Successful Entrepreneur | Jo...,TED,NaN,https://www.youtube.com/watch?v=eHJnEHyyN1Y,NaN,920.0,1820897.0,NaN,NaN,NaN,NaN,NaN
2,How To Start a Business - Step by Step Guide f...,ClearValue Tax,NaN,https://www.youtube.com/watch?v=0Q4BZhTVSqk,NaN,1455.0,307239.0,NaN,NaN,NaN,NaN,NaN
3,5 Steps to Start Your First Business,Ali Abdaal,NaN,https://www.youtube.com/watch?v=bXLZ8I7s8tw,NaN,1021.0,1409343.0,NaN,NaN,NaN,NaN,NaN
4,33Yrs of Business Experience in 4hrs FULL COURSE,CEO Entrepreneur,NaN,https://www.youtube.com/watch?v=xQuKdFNK7tk,NaN,14675.0,1038100.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Precalculus Course,freeCodeCamp.org,NaN,https://www.youtube.com/watch?v=eI4an8aSsgw,NaN,19322.0,1939597.0,NaN,NaN,NaN,NaN,NaN
796,Understand Chain Rule in 39.97 Seconds!,Yeah Math Is Boring,NaN,https://www.youtube.com/shorts/ctQC0eXxIUc,NaN,42.0,60912.0,NaN,NaN,NaN,NaN,NaN
797,Derivative as a concept | Derivatives introduc...,Khan Academy,NaN,https://www.youtube.com/watch?v=N2PpRnFqnqY,NaN,436.0,1073036.0,NaN,NaN,NaN,NaN,NaN
798,Integration rundown by Goggins (quick AI lesson),Onlock,NaN,https://www.youtube.com/shorts/OrwEaw3yyoE,NaN,44.0,2857269.0,NaN,NaN,NaN,NaN,NaN
799,Differential Calculus- Explained in Just 4 Min...,The Science Biome,NaN,https://www.youtube.com/watch?v=3Xytg7IV6EM,NaN,237.0,37704.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(800, 12)